In [1]:
import numpy as np

import pandas as pd

from pandas import Series, DataFrame

In [3]:
import webbrowser
website = 'https://en.wikipedia.org/wiki/NFL_winâ€“loss_records'
webbrowser.open(website)

True

In [4]:
nfl_frame = pd.read_clipboard()

In [5]:
nfl_frame

   Rank                  Team     GP  ...   Pct.  First NFL season   Division
0     1     Green Bay Packers  1,384  ...  0.569              1921  NFC North
1     2        Dallas Cowboys    930  ...  0.569              1960   NFC East
2     3      Baltimore Ravens    400  ...  0.564              1996  AFC North
3     4         Chicago Bears  1,418  ...  0.563              1920  NFC North
4     5  New England Patriots    932  ...  0.562              1960   AFC East

[5 rows x 9 columns]

In [7]:
nfl_frame.columns

Index(['Rank', 'Team', 'GP', 'Won', 'Lost', 'Tied', 'Pct.', 'First NFL season',
       'Division'],
      dtype='object')

In [9]:
nfl_frame.Rank

0    1
1    2
2    3
3    4
4    5
Name: Rank, dtype: int64

In [10]:
nfl_frame.Team

0       Green Bay Packers
1          Dallas Cowboys
2        Baltimore Ravens
3           Chicago Bears
4    New England Patriots
Name: Team, dtype: object

In [13]:
nfl_frame['First NFL season']

0    1921
1    1960
2    1996
3    1920
4    1960
Name: First NFL season, dtype: int64

In [14]:
# creating data frame from other data frame columns
DataFrame(nfl_frame, columns=['Team', 'First NFL season', 'Total Games'])

                   Team  First NFL season  Total Games
0     Green Bay Packers              1921          NaN
1        Dallas Cowboys              1960          NaN
2      Baltimore Ravens              1996          NaN
3         Chicago Bears              1920          NaN
4  New England Patriots              1960          NaN

In [15]:
# get first number of rows
nfl_frame.head(3)

   Rank               Team     GP  ...   Pct.  First NFL season   Division
0     1  Green Bay Packers  1,384  ...  0.569              1921  NFC North
1     2     Dallas Cowboys    930  ...  0.569              1960   NFC East
2     3   Baltimore Ravens    400  ...  0.564              1996  AFC North

[3 rows x 9 columns]

In [16]:
# get last number of rows
nfl_frame.tail(3)

   Rank                  Team     GP  ...   Pct.  First NFL season   Division
2     3      Baltimore Ravens    400  ...  0.564              1996  AFC North
3     4         Chicago Bears  1,418  ...  0.563              1920  NFC North
4     5  New England Patriots    932  ...  0.562              1960   AFC East

[3 rows x 9 columns]

In [19]:
# grabing a row by index number
nfl_frame.iloc[3]

Rank                            4
Team                Chicago Bears
GP                          1,418
Won                           777
Lost                          599
Tied                           42
Pct.                        0.563
First NFL season             1920
Division                NFC North
Name: 3, dtype: object

In [20]:
nfl_frame['Stadium'] = "Levi's Stadium"

In [21]:
nfl_frame

   Rank                  Team  ...   Division         Stadium
0     1     Green Bay Packers  ...  NFC North  Levi's Stadium
1     2        Dallas Cowboys  ...   NFC East  Levi's Stadium
2     3      Baltimore Ravens  ...  AFC North  Levi's Stadium
3     4         Chicago Bears  ...  NFC North  Levi's Stadium
4     5  New England Patriots  ...   AFC East  Levi's Stadium

[5 rows x 10 columns]

In [22]:
nfl_frame['Stadium'] = np.arange(5)

In [23]:
nfl_frame

   Rank                  Team     GP  ...  First NFL season   Division  Stadium
0     1     Green Bay Packers  1,384  ...              1921  NFC North        0
1     2        Dallas Cowboys    930  ...              1960   NFC East        1
2     3      Baltimore Ravens    400  ...              1996  AFC North        2
3     4         Chicago Bears  1,418  ...              1920  NFC North        3
4     5  New England Patriots    932  ...              1960   AFC East        4

[5 rows x 10 columns]

In [24]:
stadiums = Series(["Levi's Stadium", "AT&T Stadium"], index=[5,0])

In [25]:
stadiums

5    Levi's Stadium
0      AT&T Stadium
dtype: object

In [26]:
nfl_frame['Stadium'] = stadiums

In [27]:
nfl_frame

   Rank                  Team     GP  ...  First NFL season   Division       Stadium
0     1     Green Bay Packers  1,384  ...              1921  NFC North  AT&T Stadium
1     2        Dallas Cowboys    930  ...              1960   NFC East           NaN
2     3      Baltimore Ravens    400  ...              1996  AFC North           NaN
3     4         Chicago Bears  1,418  ...              1920  NFC North           NaN
4     5  New England Patriots    932  ...              1960   AFC East           NaN

[5 rows x 10 columns]

In [28]:
# delete column
del nfl_frame['Stadium']

In [29]:
nfl_frame

   Rank                  Team     GP  ...   Pct.  First NFL season   Division
0     1     Green Bay Packers  1,384  ...  0.569              1921  NFC North
1     2        Dallas Cowboys    930  ...  0.569              1960   NFC East
2     3      Baltimore Ravens    400  ...  0.564              1996  AFC North
3     4         Chicago Bears  1,418  ...  0.563              1920  NFC North
4     5  New England Patriots    932  ...  0.562              1960   AFC East

[5 rows x 9 columns]

In [30]:
data = {'City': ['SF', 'LA', 'NYC'], 'Population': [837000, 3880000, 8400000]}

In [31]:
city_frame = DataFrame(data)

In [32]:
city_frame

  City  Population
0   SF      837000
1   LA     3880000
2  NYC     8400000