In [1]:
import pandas as pd
from pandas import Series, DataFrame

In [2]:
from pandas import read_html

In [3]:
url = 'http://www.fdic.gov/bank/individual/failed/banklist.html'

In [4]:
# pip install beautifulsoup4
# pip install html5lib

In [5]:
dframe_list = pd.io.html.read_html(url)

ValueError: No tables found