In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [2]:
# import pandas testing utility
import pandas.util.testing as tm; tm.N = 3

# Create a unpivoted function
def unpivot(frame):
    N, K = frame.shape

    data = {'value': frame.values.ravel('F'),
            'variable': np.asarray(frame.columns).repeat(N),
            'date': np.tile(np.asarray(frame.index), K)}
    
    # Return the DataFrame
    return DataFrame(data, columns=['date', 'variable', 'value'])

# Set the DataFrame we will be using
dframe = unpivot(tm.makeTimeDataFrame())

ipykernel_launcher:2: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.

In [3]:
dframe

          date variable     value
0   2000-01-03        A  0.959951
1   2000-01-04        A  0.828314
2   2000-01-05        A  1.485404
3   2000-01-06        A  2.843975
4   2000-01-07        A  1.668737
..         ...      ...       ...
115 2000-02-07        D -0.182030
116 2000-02-08        D  1.186612
117 2000-02-09        D -0.496430
118 2000-02-10        D -1.192190
119 2000-02-11        D  0.663685

[120 rows x 3 columns]

In [4]:
dframe_piv = dframe.pivot('date','variable','value')

In [5]:
dframe_piv

variable           A         B         C         D
date
2000-01-03  0.959951  0.171218  0.144120 -0.975888
2000-01-04  0.828314 -0.507320 -0.476691 -0.848341
2000-01-05  1.485404  0.799683 -0.585566 -1.082953
2000-01-06  2.843975 -0.113570 -0.614572  0.227840
2000-01-07  1.668737 -0.271571 -0.484047 -0.407861
2000-01-10  0.779420 -1.603043 -0.233724  1.589259
2000-01-11 -1.543943  2.204569 -0.903449  0.899854
2000-01-12 -0.399162  0.176859  0.590857  1.527567
2000-01-13  0.656320  0.403318 -0.218287 -0.862473
2000-01-14  1.271792 -0.820371  1.250941  0.443158
2000-01-17  0.486079 -1.406052  0.006468  0.587936
2000-01-18 -1.590931  2.081408  0.109814 -0.006710
2000-01-19  0.353558 -0.996633 -0.301049  0.820209
2000-01-20  0.446907 -0.752017  0.552174  0.662530
2000-01-21  1.089337  0.946431  1.117181  0.433103
2000-01-24  1.232956 -0.329451  1.221163 -0.915664
2000-01-25 -0.123742  0.405885  2.606803 -0.092901
2000-01-26 -0.602988  1.021949  0.466800  1.922639
2000-01-27  0.110003  0.269575 -1.180565 -2.165366
2000-01-28  0.204736  0.429171  1.185494 -0.627235
2000-01-31  1.379626  0.498266 -1.027237 -0.468071
2000-02-01 -0.878405 -0.355146 -1.693489 -0.601650
2000-02-02 -0.814674 -0.757140 -0.680695  0.887510
2000-02-03  1.856846  0.184315  0.747841 -0.603536
2000-02-04  2.386782  0.169078  0.569485 -0.250920
2000-02-07 -0.012413  0.300450 -2.032686 -0.182030
2000-02-08 -1.479939  1.946192  0.138756  1.186612
2000-02-09  0.775136  0.793319 -0.399187 -0.496430
2000-02-10  0.510196  0.006657 -0.646496 -1.192190
2000-02-11  1.174729  0.417786  0.592129  0.663685