In [1]:
import numpy as np

In [2]:
my_list1 = [1,2,3,4]

In [5]:
# creating an array
my_array1 = np.array(my_list1)

In [6]:
my_array1

array([1, 2, 3, 4])

In [7]:
my_list2 = [11,22,33,44]

In [8]:
my_lists = [my_list1, my_list2]

In [10]:
# creating matrix
my_array2 = np.array(my_lists)

In [11]:
my_array2

array([[ 1,  2,  3,  4],
       [11, 22, 33, 44]])

In [12]:
# (rows, cols)
my_array2.shape

(2, 4)

In [13]:
# array type
my_array2.dtype

dtype('int64')

In [14]:
# create new array
np.zeros(5)

array([0., 0., 0., 0., 0.])

In [15]:
my_zeros_array = np.zeros(5)

In [16]:
my_zeros_array.dtype

dtype('float64')

In [17]:
# create new matrix
np.ones([5,5])

array([[1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1.]])

In [18]:
# create an empty array
np.empty(5)

array([0., 0., 0., 0., 0.])

In [19]:
# identity matrix
np.eye(5)

array([[1., 0., 0., 0., 0.],
       [0., 1., 0., 0., 0.],
       [0., 0., 1., 0., 0.],
       [0., 0., 0., 1., 0.],
       [0., 0., 0., 0., 1.]])

In [21]:
# create a full array
np.arange(5)

array([0, 1, 2, 3, 4])

In [22]:
# from 5 to 50, jumping 2 every time
np.arange(5,50,2)

array([ 5,  7,  9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37,
       39, 41, 43, 45, 47, 49])