In [3]:
import numpy as np
from pandas import Series, DataFrame
import pandas as pd

from numpy.random import randn

In [4]:
ser1 = Series([1,2,3,4], index = ['A', 'B', 'C', 'D'])

ser1

A    1
B    2
C    3
D    4
dtype: int64

In [5]:
ser2 = ser1.reindex(['A', 'B', 'C', 'D', 'E', 'F'])

ser2

A    1.0
B    2.0
C    3.0
D    4.0
E    NaN
F    NaN
dtype: float64

In [6]:
# reindex with default value
ser2.reindex(['A','B','C','D','E','F','G'], fill_value=0)

A    1.0
B    2.0
C    3.0
D    4.0
E    NaN
F    NaN
G    0.0
dtype: float64

In [7]:
ser3 = Series(['USA','Mexico','Canada'], index=[0,5,10])

ser3

0        USA
5     Mexico
10    Canada
dtype: object

In [8]:
ranger = range(15)

In [9]:
ranger

range(0, 15)

In [10]:
ser3.reindex(ranger, method='ffill')

0        USA
1        USA
2        USA
3        USA
4        USA
5     Mexico
6     Mexico
7     Mexico
8     Mexico
9     Mexico
10    Canada
11    Canada
12    Canada
13    Canada
14    Canada
dtype: object

In [11]:
dframe = DataFrame(randn(25).reshape((5,5)), index=['A', 'B', 'C', 'D', 'E'],
                    columns=['col1','col2','col3','col4','col5'])

dframe

       col1      col2      col3      col4      col5
A -0.051791  0.464825  1.269605  0.762023 -0.731169
B  0.659083  0.959843 -1.114742 -1.247325 -1.367955
C  1.827320  1.529949  0.289986  0.649293  0.220872
D  0.796378  0.290514 -0.444078  1.626341 -0.336474
E -0.725493  1.228364 -1.552208 -0.289589  1.431825

In [12]:
dframe2 = dframe.reindex(['A', 'B', 'C', 'D', 'E', 'F']) # reindex and adding a new index 'F'

In [13]:
dframe2

       col1      col2      col3      col4      col5
A -0.051791  0.464825  1.269605  0.762023 -0.731169
B  0.659083  0.959843 -1.114742 -1.247325 -1.367955
C  1.827320  1.529949  0.289986  0.649293  0.220872
D  0.796378  0.290514 -0.444078  1.626341 -0.336474
E -0.725493  1.228364 -1.552208 -0.289589  1.431825
F       NaN       NaN       NaN       NaN       NaN

In [19]:
new_columns = ['col1', 'col2', 'col3', 'col4', 'col5']

In [20]:
dframe2.reindex(columns=new_columns)

       col1      col2      col3      col4      col5
A -0.051791  0.464825  1.269605  0.762023 -0.731169
B  0.659083  0.959843 -1.114742 -1.247325 -1.367955
C  1.827320  1.529949  0.289986  0.649293  0.220872
D  0.796378  0.290514 -0.444078  1.626341 -0.336474
E -0.725493  1.228364 -1.552208 -0.289589  1.431825
F       NaN       NaN       NaN       NaN       NaN

In [21]:
dframe

       col1      col2      col3      col4      col5
A -0.051791  0.464825  1.269605  0.762023 -0.731169
B  0.659083  0.959843 -1.114742 -1.247325 -1.367955
C  1.827320  1.529949  0.289986  0.649293  0.220872
D  0.796378  0.290514 -0.444078  1.626341 -0.336474
E -0.725493  1.228364 -1.552208 -0.289589  1.431825

In [23]:
# dframe.ix[['A', 'B', 'C', 'D', 'E', 'F'], new_columns] # deprecated
dframe.loc[['A', 'B', 'C', 'D', 'E'], new_columns] # new version

       col1      col2      col3      col4      col5
A -0.051791  0.464825  1.269605  0.762023 -0.731169
B  0.659083  0.959843 -1.114742 -1.247325 -1.367955
C  1.827320  1.529949  0.289986  0.649293  0.220872
D  0.796378  0.290514 -0.444078  1.626341 -0.336474
E -0.725493  1.228364 -1.552208 -0.289589  1.431825