In [2]:
import numpy as np
from pandas import Series, DataFrame
import pandas as pd

In [3]:
ser1 = Series(range(3), index=['C', 'A', 'B'])

ser1

C    0
A    1
B    2
dtype: int64

In [4]:
ser1.sort_index()

A    1
B    2
C    0
dtype: int64

In [6]:
ser1.sort_values()

C    0
A    1
B    2
dtype: int64

In [7]:
from numpy.random import randn

In [8]:
ser2 = Series(randn(10))

ser2

0    1.301413
1   -0.583581
2   -0.310862
3   -0.684407
4   -1.656900
5    0.651186
6   -0.388616
7   -2.306337
8    1.125806
9   -0.988052
dtype: float64

In [10]:
ser2.sort_values() # sort orders by ranking value

7   -2.306337
4   -1.656900
9   -0.988052
3   -0.684407
1   -0.583581
6   -0.388616
2   -0.310862
5    0.651186
8    1.125806
0    1.301413
dtype: float64

In [11]:
ser2.rank() # every value as a rank by default, sort() uses it to order

0    10.0
1     5.0
2     7.0
3     4.0
4     2.0
5     8.0
6     6.0
7     1.0
8     9.0
9     3.0
dtype: float64

In [12]:
ser3 = Series(randn(10))

ser3

0   -1.749573
1    0.797009
2    0.657699
3    1.254194
4    0.005651
5    0.559373
6    0.052976
7   -0.221118
8   -0.172894
9    2.346503
dtype: float64

In [14]:
ser3.rank()

0     1.0
1     8.0
2     7.0
3     9.0
4     4.0
5     6.0
6     5.0
7     2.0
8     3.0
9    10.0
dtype: float64

In [15]:
ser3

0   -1.749573
1    0.797009
2    0.657699
3    1.254194
4    0.005651
5    0.559373
6    0.052976
7   -0.221118
8   -0.172894
9    2.346503
dtype: float64