In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [2]:
dframe = DataFrame({'key1':['A']*2 + ['B']*3,
                    'key2':[2,2,2,3,3]})

In [3]:
dframe

  key1  key2
0    A     2
1    A     2
2    B     2
3    B     3
4    B     3

In [4]:
dframe.duplicated()

0    False
1     True
2    False
3    False
4     True
dtype: bool

In [5]:
dframe.drop_duplicates()

  key1  key2
0    A     2
2    B     2
3    B     3

In [6]:
dframe.drop_duplicates(['key1'])

  key1  key2
0    A     2
2    B     2

In [8]:
dframe.drop_duplicates(['key1'],keep='first')

  key1  key2
0    A     2
2    B     2